body {
  display: flex;
  flex-direction: column;
  font: 16px/1.6 sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow: hidden scroll;
  word-wrap: break-word;
}

h1,h2,h3 {
  margin-top: 40px;
}

main {
  flex: 1;
  width: 90%;
}